proxmox_node = "xxxxx"
proxmox_url = "https://xxxxxxxx:8006/api2/json"
proxmox_storage_pool = "xxx"
proxmox_password = "xxxx"
proxmox_username = "xxx@pam"
proxmox_storage_format = "xxxxx"
proxmox_storage_pool_type = "xxxx"
ssh_username = "xxxxx"
ssh_password = "xxxxxx"
builder_ip = "10.0.50.117"